<div id="tweets-content">
  <div class="row">
    <div class="col-sm-4 left-content">
      <% if user_signed_in? %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="user">
              <span class="user-name">
                <strong>
                  <%= link_to current_user.email, user_path(current_user) %>
                </strong>
              </span>
            </div>

            <div class="user-activity">
              <div class="row">
                <div class="col-xs-6 tweets-num text-center">
                  <div class="text">
                    総つぶやき数
                  </div>
                  <div class="num">
                    <%= @tweets.total_count %>
                  </div>
                </div>
                <div class="col-xs-6 tweets-num text-center">
                  <div class="text">
                    あなたのつぶやき
                  </div>
                  <div class="num">
                    <%= link_to current_user.tweets.count, user_path(current_user) %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= form_for @tweet do |f| %>
            <div class="form-group new-tweet">
              <%= f.text_area :body, class: "form-control", placeholder: "いまどうしてる？" %>
              <%= f.submit 'つぶやく', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-sm-8 right-content">
      <div class="list-group">
        <% if @user.tweets.empty? %>
    			<div class="list-group-item">
    				まだつぶやきはありません
    			</div>
    		<% else %>
    			<%= render @tweets %>
    		<% end %>
      </div>
      <%= paginate @tweets %>
    </div>
  </div>
</div>
