<div class="col-xs-8" id="users-content">
	<div class="user-info">
		<span class="user-name">
			<%= @user.email %>
		</span>
	</div>
	<ul class="nav nav-tabs nav-justified">
		<li {class: action_name == "show" ? "active" : nil}>
			<%= link_to user_path(@user) do %>
				<div class="text">
					つぶやき
				</div>
				<div class="num">
					<%= @user.tweets.count %>
				</div>
			<% end %>
		</li>

		<li {class: action_name == "favorites" ? "active" : nil}>
		<%= link_to favorites_user_path(@user) do %>
			<div class="text">
				お気に入り
			</div>
			<div class="num">
				<%= @user.favorites.count %>
			</div>
		<% end %>
		</li>
	</ul>
	<div class="list-group">
		<div class="list-group-item">
			<% if @user.favorites.empty? %>
				まだお気に入りのつぶやきはありません
			<% end %>
		</div>

		<% @user.favorites.map { |f| f.tweet }.each do |tweet| %>
			<%= render tweet %>
		<% end %>
	</div>
</div>
